.wp-admin {
	.block__columns,
	.wp-block-acf-column {
		padding: 8px;
		border-radius: 3px;
	}

	.block__columns  {
		background-color: lightgoldenrodyellow;
		&:hover {
			cursor: grab;
			background-color: lightyellow;
		}
	}

	.wp-block-acf-column {
		flex: 1;
		flex-basis: 25%;
		background-color: lightblue;
		&:hover {
			cursor: grab;
			background-color: lightcyan;
		}
	}
	.wp-block-acf-column:has(.md\:basis-1\/3) {
		flex-basis: 33.3333%;
	}
	.wp-block-acf-column:has(.md\:basis-2\/3) {
		flex-basis: 66.6666%;
	}
	.wp-block-acf-column:has(.md\:basis-1\/4) {
		flex-basis: 25%;
	}
	.wp-block-acf-column:has(.md\:basis-1\/2) {
		flex-basis: 50%;
	}
}
