<div id="RESPONSIVE_XS" class="block sm:hidden"></div>
<div id="RESPONSIVE_SM" class="sm:block hidden"></div>
<div id="RESPONSIVE_MD" class="md:block hidden"></div>
<div id="RESPONSIVE_LG" class="lg:block hidden"></div>
