{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<h2 class="text-center text-[10rem] lg:text-[30rem] font-bold leading-none mb-0 mt-xxl">
			{{ __('404', 'sesha') }}
		</h2>
		<p class="text-center text-h3">{{ __("Sorry, we couldn't find what you're looking for.", 'sesha') }}</p>
	</div>
{% endblock %}
