<button aria-label="Toggle Site Navigation" class="toggle-site-navigation / js-toggle-offcanvas-menu">
	<div class="icon-bars">
		{% include "svg/icon-hamburger.svg.twig" %}
	</div>
	<div class="icon-close">
		{% include "svg/icon-close.svg.twig" %}
	</div>
</button>
